<div id="sellBgDiv"></div>
<div id="signup_form" class="container-fluid col-xs-offset-3 col-xs-6" style="background-color: white;height:450px;">
    <form #signupForm="ngForm" class="">
        <h3>Sign Up:</h3><hr>
        <div class="form-group row" [class.has-error]="fullName.invalid && fullName.touched">
            <label class="control-label col-xs-offset-1 col-xs-2" style="top:7px;text-align:right;">Full Name:</label>
            <input #fullName="ngModel" required type="text" name="fullname" [(ngModel)]="newUser.fullName" class="form-control" style="width:70%;" placeholder="Please Enter Your Full Name">
            <span class="alert alert-danger" *ngIf="fullName.invalid && fullName.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This field can't be empty</span>
        </div>
        <div class="form-group row" [class.has-error]="username.invalid && username.touched">
            <label class="control-label col-xs-offset-1 col-xs-2" style="top:7px;text-align:right;">Username:</label>
            <input #username="ngModel" required type="text" name="username" (blur)="verifyUsernameIsUnique(username.value)" [(ngModel)]="newUser.username" class="form-control" style="width:70%;" placeholder="Please Select a unique username">
            <span class="alert alert-danger" *ngIf="!resultValues.usernameExists && username.touched && username.invalid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Username is invalid.</span>
            <span class="alert alert-danger" *ngIf="!resultValues.usernameExists && username.touched && username.valid"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Username already exists.</span>
            <span class="alert alert-success" *ngIf="resultValues.usernameExists && username.valid"><i class="fa fa-check fa-lg"></i> Username is Unique </span>  
        </div>
        <div class="form-group row" [class.has-error]="email.invalid && email.touched">
            <label class="control-label col-xs-3" style="top:7px;text-align:right;">Corporate E-mail:</label>
            <input #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" (blur)="verifyEmailIsUnique(email.value)" name="email" [(ngModel)]="newUser.email" class="form-control" style="width:70%;" placeholder="Please Enter Your Corporate E-mail ID (E.g.: John.smith@dell.com)">
            <span class="alert alert-danger" *ngIf="!resultValues.emailExists && email.touched && (email.invalid || email.valid)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email is invalid or already exists.</span> 
            <!-- <span class="alert alert-danger" *ngIf="!resultValues.emailExists && email.touched && (email.invalid || email.valid)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email already exists.</span> -->
            <span class="alert alert-success" *ngIf="resultValues.emailExists && email.valid"><i class="fa fa-check fa-lg"></i> Email Id is Unique </span>    
        </div>
        <div class="form-group row" [class.has-error]="passOne.invalid && passOne.touched">
            <label class="control-label col-xs-offset-1 col-xs-2" style="top:7px;text-align:right;">Password:</label>
            <input #passOne="ngModel" required minlength="8" type="password" name="pass1" [(ngModel)]="newUser.passOne" class="form-control" style="width:70%;" placeholder="Please Enter Your System Password">
            <span class="alert alert-danger" *ngIf="passOne.invalid && passOne.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This field is required with minimum length of 8 character</span>
        </div>
        <div class="form-group row" [class.has-error]="passTwo.invalid && passTwo.touched">
            <label class="control-label col-xs-3" style="top:7px;text-align:right;">Re-enter Password:</label>
            <input #passTwo="ngModel" required minlength="8" type="password" name="pass2" [(ngModel)]="newUser.passTwo" class="form-control" style="width:70%;" placeholder="Please Re-enter Your System Password">
            <span class="alert alert-danger" *ngIf="passTwo.invalid && passTwo.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This field is required with minimum length of 8 character</span>
            <span class="alert alert-danger" *ngIf="passOne.value != passTwo.value"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Both password didn't match</span>
            <span class="alert alert-success" *ngIf="(passOne.valid && passOne.touched) && (passTwo.valid && passTwo.touched) && (passOne.value != null) && (passTwo.value != null) && (passOne.value == passTwo.value) "><i class="fa fa-check fa-lg"></i> Password Matched</span>
        </div>
        <div class="form-group row" [class.has-error]="mobile.invalid && mobile.touched">
            <label class="control-label col-xs-offset-1 col-xs-2" style="top:7px;text-align:right;">Mobile:</label>
            <input #mobile="ngModel" required minlength="10" type="number" name="contact" [(ngModel)]="newUser.mobile" class="form-control" style="width:70%;" placeholder="Please Enter Your Contact Number">
            <span class="alert alert-danger" *ngIf="mobile.invalid && mobile.touched"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> This field is required with minimum length of 10 digits</span>
        </div>
        <hr>
        <button class="btn btn-primary btn-md col-xs-offset-5" type="submit" [disabled]="signupForm.invalid" style="bottom:15px;" (click)="confirm()"><b>Register</b></button>
    </form>
</div>
<div class="blackBG col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="z-index:7;top:52px;" *ngIf="confirmRegistration" (click)="confirm()">
    <button (click)="confirm()" class="col-lg-offset-11"><i class="fa fa-remove"></i></button>
</div>
<div id="signupConfirmation" *ngIf="confirmRegistration" class="col-xs-offset-3 col-xs-6">
    <h3>Are You Sure ?</h3>
    <hr>
    <div class="form-group">
        Full Name: <b>{{newUser.fullName}}</b><br>
        Username:<b>{{newUser.username}}</b><br>
        E-mail ID: <b>{{newUser.email}}</b><br>
        Password: <b>{{newUser.passTwo}}</b><br>
        Mobile:<b>{{newUser.mobile}}</b>
    </div>
    <hr>
    <div class="col-xs-12">
        <h4 class="col-xs-6">Above details are correct ?</h4>
        <button class="col-xs-2 btn btn-primary btn-sm" (click)="signUp()"><b>Yes</b></button>
        <button class="col-xs-offset-1 col-xs-2 btn btn-warning btn-sm" (click)="confirm()"><b>Re-check</b></button>
    </div>
</div>
<div class="blackBG col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="z-index:9;" *ngIf="resultValues.errorSignUp" (click)="showResult()">
    <button (click)="showResult()" class="col-lg-offset-11"><i class="fa fa-remove"></i></button>
</div>
<div *ngIf="resultValues.errorSignUp" style="z-index:10;color:green;" class="newCatNBrand col-xl-offset-2 col-xl-8 col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
    <h2>{{resultValues.result}}:</h2><hr>
    <h4><i class="fa fa-check fa-2x"></i> {{resultValues.returnedValue}}</h4><br><br>
    <a routerLink="/login" style="margin-top:20px;" class="col-xs-offset-10"><i class="fa fa-mail-reply fa-md"></i> Back to Log In</a>
</div>